{% extends 'base.html' %}


{% block content %}

<head>
    <style>
        body {
            background-color: black;
        }
    </style>
</head>
<body>

<div class="container">
    <!-- Header Section -->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Let's build the future of car collecting together!</h2>
            <h5>Create an amazing API tool for cars.</h5>
            <div>
                <button class="btn btn-primary">View Our Docs</button>
                <button class="btn btn-primary">Join Our Car API Channel</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img class="header-image" src="../../static/images1/status1.jpg" alt="Hero Header Image">
        </div>
    </header>
    <!-- End of Header Section -->

    <!-- Start Middle Section -->

    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images1/api1.svg" alt="api image">
            <h4>Dedicated API Routes</h4>
            <p>
                If you are a fan of using traditional API routes. we have those for you! 
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images1/graph7.svg" alt="graphql image">
            <h4>GraphQL API Route</h4>
            <p>
                If you wnat ALL the data from one endpoint, we have that too! 
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images1/database2.jpg" alt="database image">
            <h4>Backed by a PostgreSQL Database</h4>
            <p>
                All data will be persisted inside of a secure Postgres Database. 
            </p>
        </div>
    </section>
    <!-- End of Collection Features -->

    <!-- Community Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images1/database3.jpg" alt="Drone Image" id="Drone-image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Talk with like minded car collectors</h4>
            <p>
                Talk with other car enthusiants around the world and collab
                on car projects with your data. Join our car API channel and give 
                a star to the best API on Github!
            </p>
            <div>
                <button class="btn btn-primary">View On Github</button>
                <button class="btn btn-primary">Join Our Car API Channel</button>
            </div>
        </div>
    </section>
    <!-- End of Community Section -->

    <!-- Footer Section -->
    <footer class="row" id="footer">
        <div class="col-2">
            <img src="../../static/images1/CARSLOGO.png" alt="Coding Drones Logo" id="footer-logo">
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Choose Us</p>
                <p>Our Purpose</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Support</h4>
                <p>Help Center</p>
                <p>Contact Us</p>
                <p>FAQs</p>
                <p>Privacy Policy</p>
                <p>Terms of Service</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Resources</h4>
                <p>Documentation</p>
                <p>API Reference</p>
                <p>Developer Tools</p>
                <p>Case Studies</p>
                <p>Blog</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Connect</h4>
                <p>Twitter</p>
                <p>Facebook</p>
                <p>LinkedIn</p>
                <p>Instagram</p>
                <p>YouTube</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Company</h4>
                <p>About Us</p>
                <p>Careers</p>
                <p>Partners</p>
                <p>Press</p>
                <p>Affiliate Program</p>
            </div>
        </div>
    </footer>
</div>

{% endblock content %}